# this is an example of the OpenBMP REST API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info: 
  title: OpenBMP REST API
  description: Powering Dashboards with the OpenBMP REST API
  version: "1.0.0"
# the domain of the service
host: api.openbmp.org
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  /asn_stats:
    get:
      summary: Per ASN Statistics
      description: |
        This As Statistics Endpoint returns a list of all active ASN's in the DB.
      parameters:
        - $ref: '#/parameters/limit'
      tags:
        - As Statistics
      responses:
        200:
          description: An array of all active ASNs in the DB.
          schema:
            type: array
            items:
              $ref: '#/definitions/AsStatistics'
        400:
          description: Client Error
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
          examples: 
            application/json: |
              $ref: '#/definitions/ErrorDetails'
        500:
          description: OpenBMP Server Error
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
          examples: 
            application/json: |
              $ref: '#/definitions/ErrorDetails'
        default:
          description: Unexpected error
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
          examples: 
            application/json: |
              $ref: '#/definitions/ErrorDetails'
  /asn_stats/{asn}:
    get:
      summary: AS Statistics for an ASN
      description: |
        This As Statistics Endpoint returns the AS statistics for the provided ASN.
      parameters:
        - $ref: '#/parameters/asn'
        - $ref: '#/parameters/limit'
      tags:
        - As Statistics
      responses:
        200:
          description: An array of AS Statistics for the provided ASN
          schema:
            type: array
            items:
              $ref: '#/definitions/AsStatistics'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /asn_stats/ipv4:
    get:
      summary: Get the top ASN's originating prefixes or that are transit to other ASN's
      description: This As Statistics Endpoint lists the top ASN's originating prefixes or that are transit to other ASN's.
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/topTransit'
        - $ref: '#/parameters/topOrigin'
      tags:
        - As Statistics
      responses:
        200:
          description: An array of top ASN's originating prefixes or that are transit to other ASN's
          schema:
            type: array
            items:
              $ref: '#/definitions/AsStatisticsV4'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /asn_stats/ipv6:
    get:
      summary: Get the top ASN's originating prefixes or that are transit to other ASN's
      description: This As Statistics Endpoint lists the top ASN's originating prefixes or that are transit to other ASN's
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/topTransit'
        - $ref: '#/parameters/topOrigin'
      tags:
        - As Statistics
      responses:
        200:
          description: An array of top ASN's originating prefixes or that are transit to other ASN's
          schema:
            type: array
            items:
              $ref: '#/definitions/AsStatisticsV6'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /community/part2/{p1}:
    get:
      summary: Community Placeholder
      description: |
        This Community Endpoint returns Community Placeholder.
      parameters:
        - $ref: '#/parameters/p1'
        - $ref: '#/parameters/limit'
      tags:
        - Community
      responses:
        200:
          description: Community Placeholder
          schema:
            type: array
            items:
              $ref: '#/definitions/Community'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /community/part1/{p1}:
    get:
      summary: Community Placeholder
      description: |
        This Community Endpoint returns Community Placeholder.
      parameters:
        - $ref: '#/parameters/p1'
        - $ref: '#/parameters/limit'
      tags:
        - Community
      responses:
        200:
          description: Community Placeholder
          schema:
            type: array
            items:
              $ref: '#/definitions/Community'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /dns/{hostname}:
    get:
      summary: DNS Placeholder
      description: |
        This Dns Endpoint returns placeholder.
      parameters:
        - $ref: '#/parameters/hostname'
      tags:
        - DNS
      responses:
        200:
          description: DNS Placeholder
          schema:
            type: array
            items:
              $ref: '#/definitions/DNS'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /downstream/{asn}:
    get:
      summary: List all downstream ASN's for the given ASN
      description: |
        This downstream Endpoint returns all the downstream ASN's for the given ASN.
      parameters:
        - $ref: '#/parameters/asn'
      tags:
        - Downstream
      responses:
        200:
          description: An array of downstream ASN's for the given ASN
          schema:
            type: array
            items:
              $ref: '#/definitions/AsInfo'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /downstream/{asn}/count:
    get:
      summary: List all downstream ASN's for the given ASN and count the number of distinct prefixes (each prefix/len + peer is counted)
      description: |
        This downstream Endpoint returns all the downstream ASN's for the given ASN and count the number of distinct prefixes.
      parameters:
        - $ref: '#/parameters/asn'
      tags:
        - Downstream
      responses:
        200:
          description: An array of downstream ASN's for the given ASN and count the number of distinct prefixes
          schema:
            type: array
            items:
              $ref: '#/definitions/AsInfoAndCount'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /downstream/{asn}/peer/count:
    get:
      summary: List all downstream ASN's for the given ASN and count the number of distinct prefixes per peer
      description: |
        This downstream Endpoint returns all downstream ASN's for the given ASN and count the number of distinct prefixes per peer.
      parameters:
        - $ref: '#/parameters/asn'
      tags:
        - Downstream
      responses:
        200:
          description: An array of downstream ASN's for the given ASN and count the number of distinct prefixes per peer
          schema:
            type: array
            items:
              $ref: '#/definitions/AsInfoAndCountAndPeer'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /downstream/peer/{peerHashId}:
    get:
      summary: Distinctly lists the ASN's that are directly to the right of the peer ASN. E.g. ASPath's { "10 20, 30", "10 9 8"} would produce a list containing 20 and 9 since those ASNs are to the right of the peering ASN of 10. Each AS will have the ASN name, organization, and country.
      description: |
        This downstream Endpoint returns all the ASN's that are directly to the right of the peer AS.
      parameters:
        - $ref: '#/parameters/peerHashId'
        - $ref: '#/parameters/limit'
      tags:
        - Downstream
      responses:
        200:
          description: An array of downstream ASN's that are directly to the right of the peer AS
          schema:
            type: array
            items:
              $ref: '#/definitions/AsInfoAndPeerAsn'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /upstream/{asn}:
    get:
      summary: List all upstream ASN's for the given ASN
      description: |
        This upstream Endpoint returns all the upstream ASN's for the given ASN.
      parameters:
        - $ref: '#/parameters/asn'
      tags:
        - Upstream
      responses:
        200:
          description: An array of upstream ASN's for the given ASN
          schema:
            type: array
            items:
              $ref: '#/definitions/AsInfo'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /upstream/{asn}/count:
    get:
      summary: List all upstream ASN's for the given ASN and count the number of distinct prefixes (each prefix/len + peer is counted)
      description: |
        This upstream Endpoint returns all the upstream ASN's for the given ASN and count the number of distinct prefixes.
      parameters:
        - $ref: '#/parameters/asn'
      tags:
        - Upstream
      responses:
        200:
          description: An array of upstream ASN's for the given ASN and count the number of distinct prefixes
          schema:
            type: array
            items:
              $ref: '#/definitions/AsInfoAndCount'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /upstream/{asn}/peer/count:
    get:
      summary: List all upstream ASN's for the given ASN and count the number of distinct prefixes per peer
      description: |
        This upstream Endpoint returns all upstream ASN's for the given ASN and count the number of distinct prefixes per peer.
      parameters:
        - $ref: '#/parameters/asn'
      tags:
        - Upstream
      responses:
        200:
          description: An array of upstream ASN's for the given ASN and count the number of distinct prefixes per peer
          schema:
            type: array
            items:
              $ref: '#/definitions/AsInfoAndCountAndPeer'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /peer:
    get:
      summary: BGP Peer View
      description: |
        This BGP Peers Endpoint returns a list of BGP peers.
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/withGeo'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/orderBy'
      tags:
        - BGP Peers
      responses:
        200:
          description: An array of all BGP peers.
          schema:
            type: array
            items:
              $ref: '#/definitions/VPeers'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /peer/{peerHashId}:
    get:
      summary: Returns a placeholder.
      description: |
        This Bgp Peers Endpoint returns placeholder.
      parameters:
        - $ref: '#/parameters/peerHashId'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/withGeo'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/orderBy'
      tags:
        - BGP Peers
      responses:
        200:
          description: Placeholder
          schema:
            type: array
            items:
              $ref: '#/definitions/VPeers'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /peer/localip/{ipAddress}:
    get:
      summary: Returns a list of BGP peers by local IP address.
      description: |
        This Bgp Peers Endpoint returns a list of BGP peers by local IP address.
      parameters:
        - $ref: '#/parameters/ipAddress'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/withGeo'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/orderBy'
      tags:
        - BGP Peers
      responses:
        200:
          description: An array of BGP peers by local IP address
          schema:
            type: array
            items:
              $ref: '#/definitions/VPeers'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /peer/remoteip/{ipAddress}:
    get:
      summary: Returns a list of BGP peers by remote/peer IP address.
      description: |
        This Bgp Peers Endpoint returns a list of BGP peers by remote/peer IP address.
      parameters:
        - $ref: '#/parameters/ipAddress'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/withGeo'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/orderBy'
      tags:
        - BGP Peers
      responses:
        200:
          description: An array of BGP peers by remote IP address
          schema:
            type: array
            items:
              $ref: '#/definitions/VPeers'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /peer/router/{ipAddress}:
    get:
      summary: Returns a list of BGP peers based on Router IP or Router Name.
      description: |
        This Bgp Peers Endpoint returns a list of BGP peers based on Router IP or Router Name.
      parameters:
        - $ref: '#/parameters/ipAddress'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/withGeo'
        - $ref: '#/parameters/orderBy'
      tags:
        - BGP Peers
      responses:
        200:
          description: An array of BGP peers based on Router IP or Router Name
          schema:
            type: array
            items:
              $ref: '#/definitions/VPeers'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /peer/asn/{asn}:
    get:
      summary: Returns a list of BGP peers by Peer ASN.
      description: |
        This Bgp Peers Endpoint returns a list of BGP peers by Peer ASN.
      parameters:
        - $ref: '#/parameters/asn'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/withGeo'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/orderBy'
      tags:
        - BGP Peers
      responses:
        200:
          description: An array of BGP peers by remote IP address
          schema:
            type: array
            items:
              $ref: '#/definitions/VPeers'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /peer/type/count:
    get:
      summary: Get the peer counts by status IP version type
      description: This BGP Peers Endpoint lists peer counts by status IP version type.
      tags:
        - BGP Peers
      responses:
        200:
          description: An array of peer counts by status IP version type
          schema:
            type: array
            items:
              $ref: '#/definitions/IpTypeCount'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /peer/type/count/router:
    get:
      summary: Get the list of routers with count of peers by IP Type
      description: This BGP Peers Endpoint lists routers with count of peers by IP Type.
      tags:
        - BGP Peers
      responses:
        200:
          description: An array of routers with count of peers by IP Type
          schema:
            type: array
            items:
              $ref: '#/definitions/RoutersWithPeerCount'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /peer/type/v4:
    get:
      summary: Get the list of IPv4 peers
      description: This BGP Peers Endpoint lists IPv4 peers.
      parameters:
        - $ref: '#/parameters/withGeo'
      tags:
        - BGP Peers
      responses:
        200:
          description: An array of IPv4 peers
          schema:
            type: array
            items:
              $ref: '#/definitions/VPeers'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /peer/router/{ipAddress}/type/v4:
    get:
      summary: Returns a placeholder.
      description: |
        This Bgp Peers Endpoint returns placeholder.
      parameters:
        - $ref: '#/parameters/ipAddress'
        - $ref: '#/parameters/withGeo'
      tags:
        - BGP Peers
      responses:
        200:
          description: Placeholder
          schema:
            type: array
            items:
              $ref: '#/definitions/VPeers'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /peer/type/v6:
    get:
      summary: Get the list of IPv6 peers
      description: This BGP Peers Endpoint lists IPv6 peers.
      parameters:
        - $ref: '#/parameters/withGeo'
      tags:
        - BGP Peers
      responses:
        200:
          description: An array of IPv6 peers
          schema:
            type: array
            items:
              $ref: '#/definitions/VPeers'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /peer/router/{ipAddress}/type/v6:
    get:
      summary: Returns a placeholder.
      description: |
        This Bgp Peers Endpoint returns placeholder.
      parameters:
        - $ref: '#/parameters/ipAddress'
        - $ref: '#/parameters/withGeo'
      tags:
        - BGP Peers
      responses:
        200:
          description: Placeholder
          schema:
            type: array
            items:
              $ref: '#/definitions/VPeers'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /peer/status/count:
    get:
      summary: Get the peer counts by peer status
      description: This BGP Peers Endpoint lists peer counts by peer status.
      tags:
        - BGP Peers
      responses:
        200:
          description: An array of peer counts by peer status
          schema:
            type: array
            items:
              $ref: '#/definitions/StatusTypeCount'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /peer/status/up:
    get:
      summary: Get the list of BGP peers that are UP
      description: This BGP Peers Endpoint lists BGP peers that are UP.
      parameters:
        - $ref: '#/parameters/withGeo'
      tags:
        - BGP Peers
      responses:
        200:
          description: An array of BGP peers that are UP
          schema:
            type: array
            items:
              $ref: '#/definitions/VPeers'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /peer/status/down:
    get:
      summary: Get the list of BGP peers that are DOWN
      description: This BGP Peers Endpoint lists BGP peers that are DOWN.
      parameters:
        - $ref: '#/parameters/withGeo'
      tags:
        - BGP Peers
      responses:
        200:
          description: An array of BGP peers that are DOWN
          schema:
            type: array
            items:
              $ref: '#/definitions/VPeers'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /peer/prefix:
    get:
      summary: Get the list of BGP peers and their Pre-Policy and Post-Policy RIB counts.
      description: This BGP Peers Endpoint lists the BGP peers and their Pre-Policy and Post-Policy RIB counts.
      parameters:
        - $ref: '#/parameters/limit'
      tags:
        - BGP Peers
      responses:
        200:
          description: An array of BGP peers and their Pre-Policy and Post-Policy RIB counts
          schema:
            type: array
            items:
              $ref: '#/definitions/VPeerPrefixReport'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /peer/prefix/{ipAddress}:
    get:
      summary: Returns a list of BGP peers and their Pre-Policy and Post-Policy RIB counts by peer address.
      description: |
        This Bgp Peers Endpoint returns a list of BGP peers and their Pre-Policy and Post-Policy RIB counts by peer address.
      parameters:
        - $ref: '#/parameters/ipAddress'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/withGeo'
        - $ref: '#/parameters/orderBy'
      tags:
        - BGP Peers
      responses:
        200:
          description: An array of BGP peers and their Pre-Policy and Post-Policy RIB counts by peer address
          schema:
            type: array
            items:
              $ref: '#/definitions/VPeerPrefixReport'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /rib:
    get:
      summary: Unicast IPv4/IPv6 RIB/routes view
      description: |
        This Rib Endpoint returns a list of RIB entries.
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/orderBy'
      tags:
        - Rib
      responses:
        200:
          description: An array of RIB entries.
          schema:
            type: array
            items:
              $ref: '#/definitions/VRoutes'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /rib/peer/{peerHashId}:
    get:
      summary: Returns a placeholder.
      description: |
        This Rib Endpoint returns placeholder.
      parameters:
        - $ref: '#/parameters/peerHashId'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/orderBy'
      tags:
        - Rib
      responses:
        200:
          description: Placeholder
          schema:
            type: array
            items:
              $ref: '#/definitions/VRoutes'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /rib/router/{routerHashId}:
    get:
      summary: Returns a placeholder.
      description: |
        This Rib Endpoint returns placeholder.
      parameters:
        - $ref: '#/parameters/routerHashId'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/orderBy'
      tags:
        - Rib
      responses:
        200:
          description: Placeholder
          schema:
            type: array
            items:
              $ref: '#/definitions/VRoutes'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /rib/asn/{asn}:
    get:
      summary: Returns a list of prefixes by Origin ASN.
      description: |
        This Rib Endpoint returns list of prefixes by Origin ASN.
      parameters:
        - $ref: '#/parameters/asn'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/orderBy'
        - $ref: '#/parameters/brief'
        - $ref: '#/parameters/distinct'
      tags:
        - Rib
      responses:
        200:
          description: An array of prefixes by Origin ASN
          schema:
            type: array
            items:
              $ref: '#/definitions/VRoutes'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /rib/peer/{peerHashId}/asn/{asn}:
    get:
      summary: Returns a placeholder.
      description: |
        This Rib Endpoint returns placeholder.
      parameters:
        - $ref: '#/parameters/asn'
        - $ref: '#/parameters/peerHashId'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/brief'
        - $ref: '#/parameters/distinct'
        - $ref: '#/parameters/orderBy'
      tags:
        - Rib
      responses:
        200:
          description: Placeholder
          schema:
            type: array
            items:
              $ref: '#/definitions/VRoutes'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /rib/asn/{asn}/count:
    get:
      summary: List all prefixes by Origin ASN
      description: |
        This Rib Endpoint returns all prefixes by Origin ASN.
      parameters:
         - $ref: '#/parameters/asn'
      tags:
        - Rib
      responses:
        200:
          description: An array of all prefixes by Origin ASN
          schema:
            type: array
            items:
              $ref: '#/definitions/GenericCount'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /rib/peer/{peerHashId}/asn/{asn}/count:
    get:
      summary: Placeholder
      description: |
        This Rib Endpoint returns placeholder.
      parameters:
         - $ref: '#/parameters/asn'
         - $ref: '#/parameters/peerHashId'
      tags:
        - Rib
      responses:
        200:
          description: Placeholder
          schema:
            type: array
            items:
              $ref: '#/definitions/GenericCount'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /rib/prefix/{prefix}:
    get:
      summary: Returns a list of prefixes by Origin ASN.
      description: |
        This Rib Endpoint returns list of prefixes by Origin ASN.
      parameters:
         - $ref: '#/parameters/prefix'
         - $ref: '#/parameters/limit'
         - $ref: '#/parameters/where'
         - $ref: '#/parameters/orderBy'
      tags:
        - Rib
      responses:
        200:
          description: An array of prefixes by Origin ASN
          schema:
            type: array
            items:
              $ref: '#/definitions/VRoutes'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /rib/peer/{peerHashId}/prefix/{prefix}:
    get:
      summary: Returns a placeholder.
      description: |
        This Rib Endpoint returns placeholder.
      parameters:
         - $ref: '#/parameters/prefix'
         - $ref: '#/parameters/peerHashId'
         - $ref: '#/parameters/limit'
         - $ref: '#/parameters/where'
         - $ref: '#/parameters/orderBy'
      tags:
        - Rib
      responses:
        200:
          description: Placeholder
          schema:
            type: array
            items:
              $ref: '#/definitions/VRoutes'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /rib/prefix/{prefix}/{length}:
    get:
      summary: Returns a list of prefixes by Prefix/Length.
      description: |
        This Rib Endpoint returns a list of prefixes by Prefix/Length.
      parameters:
         - $ref: '#/parameters/prefix'
         - $ref: '#/parameters/length'
         - $ref: '#/parameters/limit'
         - $ref: '#/parameters/where'
         - $ref: '#/parameters/orderBy'
      tags:
        - Rib
      responses:
        200:
          description: An array of prefixes by Prefix/Length
          schema:
            type: array
            items:
              $ref: '#/definitions/VRoutes'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /rib/peer/{peerHashId}/prefix/{prefix}/{length}:
    get:
      summary: Returns a placeholder.
      description: |
        This Rib Endpoint returns a list of prefixes by Prefix/Length.
      parameters:
         - $ref: '#/parameters/prefix'
         - $ref: '#/parameters/peerHashId'
         - $ref: '#/parameters/length'
         - $ref: '#/parameters/limit'
         - $ref: '#/parameters/where'
         - $ref: '#/parameters/orderBy'
      tags:
        - Rib
      responses:
        200:
          description: Placeholder
          schema:
            type: array
            items:
              $ref: '#/definitions/VRoutes'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /rib/lookup/{ipAddress}:
    get:
      summary: Returns the longest match prefix based on the IP (more specific) supplied.
      description: |
        This Rib Endpoint returns the longest match prefix based on the IP (more specific) supplied.
      parameters:
         - $ref: '#/parameters/ipAddress'
         - $ref: '#/parameters/limit'
         - $ref: '#/parameters/where'
         - $ref: '#/parameters/aggregates'
         - $ref: '#/parameters/distinct'
         - $ref: '#/parameters/orderBy'
      tags:
        - Rib
      responses:
        200:
          description: An array of longest match prefix based on the IP (more specific) supplied.
          schema:
            type: array
            items:
              $ref: '#/definitions/PrefixDetails'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /rib/peer/{peerHashId}/lookup/{ipAddress}:
    get:
      summary: Returns the placeholder.
      description: |
        This Rib Endpoint returns placeholder.
      parameters:
         - $ref: '#/parameters/ipAddress'
         - $ref: '#/parameters/peerHashId'
         - $ref: '#/parameters/limit'
         - $ref: '#/parameters/where'
         - $ref: '#/parameters/aggregates'
         - $ref: '#/parameters/distinct'
         - $ref: '#/parameters/orderBy'
      tags:
        - Rib
      responses:
        200:
          description: placeholder.
          schema:
            type: array
            items:
              $ref: '#/definitions/PrefixDetails'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /rib/history/{prefix}/{length}:
    get:
      summary: Returns the RIB history for a given prefix/length.
      description: |
        This Rib Endpoint returns the RIB history for a given prefix/length.
      parameters:
        - $ref: '#/parameters/prefix'
        - $ref: '#/parameters/length'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/hours'
        - $ref: '#/parameters/timestamp'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/orderBy'
      tags:
        - Rib
      responses:
        200:
          description: An array of prefixes by Prefix/Length
          schema:
            type: array
            items:
              $ref: '#/definitions/Timestamp'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /rib/withdraws/{prefix}/{length}:
    get:
      summary: Returns the RIB history for a given prefix/length.
      description: |
        This Rib Endpoint returns the RIB history for a given prefix/length.
      parameters:
        - $ref: '#/parameters/prefix'
        - $ref: '#/parameters/length'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/hours'
        - $ref: '#/parameters/timestamp'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/orderBy'
      tags:
        - Rib
      responses:
        200:
          description: An array of prefixes by Prefix/Length
          schema:
            type: array
            items:
              $ref: '#/definitions/Timestamp'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /rib/peer/{peerHashId}/history/{prefix}/{length}:
    get:
      summary: Placeholder.
      description: |
        This Rib Endpoint returns Placeholder.
      parameters:
        - $ref: '#/parameters/prefix'
        - $ref: '#/parameters/peerHashId'
        - $ref: '#/parameters/length'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/hours'
        - $ref: '#/parameters/timestamp'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/orderBy'
      tags:
        - Rib
      responses:
        200:
          description: Placeholder
          schema:
            type: array
            items:
              $ref: '#/definitions/Timestamp'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /rib/peer/{peerHashId}/withdraws/{prefix}/{length}:
    get:
      summary: Placeholder.
      description: |
        This Rib Endpoint returns Placeholder.
      parameters:
        - $ref: '#/parameters/prefix'
        - $ref: '#/parameters/peerHashId'
        - $ref: '#/parameters/length'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/hours'
        - $ref: '#/parameters/timestamp'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/orderBy'
      tags:
        - Rib
      responses:
        200:
          description: Placeholder
          schema:
            type: array
            items:
              $ref: '#/definitions/Timestamp'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /linkstate/spf/peer/{peerHashId}/ospf/{routerId}:
    get:
      summary: Runs OSPF SPF and generates a RIB for the given bgp-ls peer and router-id. The generated RIB is returned.
      description: |
        This BGP-LS SPF Endpoint runs OSPF SPF and generates a RIB for the given bgp-ls peer and router-id. The generated RIB is returned.
      parameters:
        - $ref: '#/parameters/peerHashId'
        - $ref: '#/parameters/routerId'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/orderBy'
      tags:
        - BGP-LS SPF
      responses:
        200:
          description: Runs OSPF SPF and generates a RIB for the given bgp-ls peer and router-id. The generated RIB is returned.
          schema:
            type: array
            items:
              $ref: '#/definitions/IgpOspfSpf'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /linkstate/spf/peer/{peerHashId}/isis/{routerId}/{mtId}:
    get:
      summary: Runs IS-IS SPF and generates a RIB for the given bgp-ls peer and router-id. The generated RIB is returned.
      description: |
        This BGP-LS SPF Endpoint runs IS-IS SPF and generates a RIB for the given bgp-ls peer and router-id. The generated RIB is returned.
      parameters:
        - $ref: '#/parameters/peerHashId'
        - $ref: '#/parameters/routerId'
        - $ref: '#/parameters/mtId'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/orderBy'
      tags:
        - BGP-LS SPF
      responses:
        200:
          description: Runs IS-IS SPF and generates a RIB for the given bgp-ls peer and router-id. The generated RIB is returned.
          schema:
            type: array
            items:
              $ref: '#/definitions/IgpIsisSpf'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /linkstate/nodes:
    get:
      summary: Returns the list of link state nodes.
      description: |
        This BGP-LS Endpoint returns the list of link state nodes
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/orderBy'
        - $ref: '#/parameters/withGeo'
      tags:
        - BGP-LS
      responses:
        200:
          description: Returns the list of link state nodes
          schema:
            type: array
            items:
              $ref: '#/definitions/VLSNodes'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /linkstate/nodes/peer/{peerHashId}:
    get:
      summary: Returns the list of link state nodes for the given peer hash id. Get the peer hash ID by listing the nodes.
      description: |
        This BGP-LS Endpoint returns the list of link state nodes for the given peer hash id. Get the peer hash ID by listing the nodes.
      parameters:
        - $ref: '#/parameters/peerHashId'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/orderBy'
        - $ref: '#/parameters/withGeo'
      tags:
        - BGP-LS
      responses:
        200:
          description: Returns the list of link state nodes for the given peer hash id. Get the peer hash ID by listing the nodes.
          schema:
            type: array
            items:
              $ref: '#/definitions/VLSNodes'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /linkstate/nodes/peer/{peerHashId}/{mtId}:
    get:
      summary: Returns the list of link state nodes for the given peer hash id. Get the peer hash ID by listing the nodes.
      description: |
        This BGP-LS Endpoint returns the list of link state nodes for the given peer hash id. Get the peer hash ID by listing the nodes.
      parameters:
        - $ref: '#/parameters/peerHashId'
        - $ref: '#/parameters/mtId'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/orderBy'
        - $ref: '#/parameters/withGeo'
      tags:
        - BGP-LS
      responses:
        200:
          description: Returns the list of link state nodes for the given peer hash id. Get the peer hash ID by listing the nodes.
          schema:
            type: array
            items:
              $ref: '#/definitions/VLSNodes'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /linkstate/links:
    get:
      summary: Returns the list of link state links.
      description: |
        This BGP-LS Endpoint returns the list of link state links
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/orderBy'
      tags:
        - BGP-LS
      responses:
        200:
          description: Returns the list of link state links
          schema:
            type: array
            items:
              $ref: '#/definitions/VLSLinks'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /linkstate/links/peer/{peerHashId}:
    get:
      summary: Returns the list of link state links for given peer hash id.
      description: |
        This BGP-LS Endpoint returns the list of link state links for given peer hash id.
      parameters:
        - $ref: '#/parameters/peerHashId'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/orderBy'
      tags:
        - BGP-LS
      responses:
        200:
          description: Returns the list of link state links for given peer hash id.
          schema:
            type: array
            items:
              $ref: '#/definitions/VLSLinks'
        400:
          description: Bad Request - Missing Required Path Parameters
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Unauthorized - No Authentication
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbidden - Authentication Correct, But You do not have persmission to perform this operation on this resource
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resource Not Found
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Method not allowed/invalid on this resource
          schema:
            $ref: '#/definitions/Error'
        500:
          description: OpenBMP Server Error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: OpenBMP REST API Service temporarily unavailable due to maintenance
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /linkstate/links/peer/{peerHashId}/{mtId}:
    get:
      summary: Returns the list of link state links for given peer hash id.
      description: |
        This BGP-LS Endpoint returns the list of link state links for given peer hash id.
      parameters:
        - $ref: '#/parameters/peerHashId'
[...]
