body {
    min-width: 0rem;
    overflow: scroll;
}

.header  {
  position: fixed;
  text-align: left;
  background-color: #626469;
  float: left;
  top: 0;
  width: 100%;
  height: 80px !important;
  padding-bottom: 20px;
  box-shadow: rgba(0,0,0,0.8) 0 -1px 0;
}

div#logo {
  margin-top: 30px;
  display: block; 
  margin-left: 10px;  
  margin-top: 10px; 
  height: 60px;
  width: 120px;
} 

.logo-text {
    font-size: 25px;
    font-weight: 300;
    padding-left: 150px;
    color: white;
    float: left;
    margin-top: -38px;
    display: inline;
    text-decoration: none;
}

.main-content {
    padding-left: 80px;
    overflow: scroll;
    overflow-y: auto;
    width: 96%;
  }

.line-numbers {
  margin-right: 1.0em;
}

.content {
  padding-bottom: 100px;
}

.column_header_name {
  width: 150px;
}

.column_header_path {
  width: 350px;
}

.column_header_name .column_header_param_type .column_header_data_type .column_header_return_type {
  width: 200px;
}

.expandable {
  display: none;
}

.main_content {
  margin-top: 80px;
  margin-left: 25px;
  margin-right: 25px;
}

.model {
  float: left;
}

.model-container {
  float: left;
  width: 500px;
  padding: 0px;
}

.model-detail-container {
  clear: left;
  float: left;
  width: 500px;
  margin-left: 40px;
}

.model-detail-popup {
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  opacity: 0.99;
  z-index: 1;
  overflow: scroll;
  width: 400px;
}

.model-detail-popup .code {
  background-color: #E4F5FF;
  font-family: monospace;
  white-space: pre;
  margin: 10px;
  overflow: auto;
}

.model-detail-popup h2 {
  margin-top: 0px;
  padding-top: 0px;
}

.model-detail-popup li {
  padding-bottom: 5px;
}

.model-detail-popup .param-reqiured-true {
  font-family: monospace;
  font-weight: bold;
  clear: left;
  display: block;
  float: left;
  width: 100%;
}

.model-detail-popup .param-required-false {
  font-family: monospace;
  clear: left;
  display: block;
  float: left;
  width: 100%;
}

.model-detail-popup .param-description {
  margin-left: 50px;
  float: left;
}

.param-enum {
  margin-left: 20px;
}

.section-header {

  font-weight: bold;
  font-size: 18px;
  padding: 6px 0;
  margin-bottom: 10px;
  color: rgb(255,255,255);
}

.section-box > li a {
  rgb(241,241,241)
}

.section-box > li a:hover, 
.section-box > li a:active,
.section-box > li > a:visited {
  color: rgb(241,241,241);
}

.content {
  padding-top: 80px;
}

.content h1 {
  font-size: 43px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.sidebar {
  box-sizing: border-box;
  float: left;
  display: block;
  width: 280px;
  overflow: scroll;
  position: fixed;
  background: #049fd9;
  color: #FFF;
  padding: 30px 20px;
}

.sidebar a {
  color: rgb(255,255, 255);
  text-decoration: none;
}

.sidebar a:hover {
  color: rgb(241,241,241);
  text-decoration: none;
}

.section-box {
  border-bottom-style: solid;
  border-bottom: 10px;
}

.section-box > ul > li {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

.non-sidebar {
  box-sizing: border-box;
  display: block;
  margin-left: 240px;
  margin-right: 0px;
  width: 80%;

}

.non-sidebar h2 {
  clear: left;
  padding-top: 20px;
}

li.parameter {
  list-style: none;
  display: block;
  padding-left: 1em;
}

.param{
  display: block;
}

.param-name {
  margin-left: 1em;
}

.param-in {
  font-weight: bold;
  font-size: 1.1em;
}
.param-type {
  margin-left: 1em;
  font-style: italic;
}

.param-description {
  display: block;
  font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

.param-optional-flag {
  font-style: italic;
}

.section {
  font-weight: normal;
  clear: left;
}


.code {
  background-color: #E4F5FF;
  font-family: monospace;
  white-space: pre;
  margin: 10px;
  overflow: auto;
  width: 600px;
}

.sidebar-header__title {
  font-size: 1.2rem;
  line-height: 2;
} 

.sidebar-header__title a {
  font-size: 1rem;
  font-weight: 700;
  padding-left: 2rem;
}

.apallo-sidebar {
  width: 14rem;
}

.apallo-sidebar a {
  line-height: 1rem;

}

.sidebar-header__title a {
    font-size: 1rem;
    line-height: 1;
    font-weight: 500;
    padding-left: 0rem;
}

.sidebar-header__title .icon-4-way-nav {
  padding-right: 30px;
}

.sidebar-header {
    padding: 12px 0;
    text-align: left;
}

/* Media queries */

@media screen and (min-width:768px) {
    .apollo-sidebar>ul>li>a {
        font-size: 1rem;
        padding: 0 30px;
    }
}

@media (max-width: 767px) {
  body {
      padding-right: 0px;
      padding-left: 0px;
  }

}
